/* one monokai */
$om-background02: #282C34
$om-background01:#21252B
$om-plain:      #abb2bf
$om-pink:       #E06C75
$om-gold:       #E5C07B
$om-cyan:       #56B6C2
$om-blue:       #61AFEF
$om-lime:       #98C379
$om-brown:      #D19A66
$om-purple:     #C678DD
$om-comment:    #5c6370

/* vs code */
$vs-base03:  #1e1e1e
$vs-base02:  #2a2d2e
$vs-base0:   #858585
$vs-green:   #487e02
$vs-blue:    #9cdcfe

/* solarized */
$base03:    #002b36
$base02:    #073642
$base01:    #586e75
$base00:    #657b83
$base0:     #839496
$base1:     #93a1a1
$base2:     #eee8d5
$base3:     #fdf6e3
$yellow:    #b58900
$orange:    #cb4b16
$red:       #dc322f
$magenta:   #d33682
$violet:    #6c71c4
$blue:      #268bd2
$cyan:      #2aa198
$green:     #859900

// To add new icon colors, just add a new entry to this map and then use it in your content.js file!
$icon-colors: ("green": #59bf51, "red": #bf413e, "grey":#999999)

// Color tokens beginning with "dark-" are used in dark mode.
/* Background colors ---------------------------*/
$main-background: $base03
$card-background: $base02
$filterbar-foreground: $magenta

/* Text colors ---------------------------------*/
// Header and footer
$title-color: $blue
$foreground-color: $base0 
$highlight-color: $base1
$main-link-color: $blue
$timestamp-color: $title-color

$color-talks: $cyan
$color-jobs: $yellow
$color-publications: $violet
$color-intro: $green

/* Other colors ---------------------------------*/
$timeline-line-color: $highlight-color
$timeline-icon-color: $timeline-line-color

$header-footer-body-color: $foreground-color
$header-footer-link-color: $main-link-color

$filterbar-background: $card-background
$header-footer-background: $filterbar-background

